{{define "css"}}
  <style>
div.content {
    width:800px; 
    margin-left:auto; 
    margin-right:auto;
  }

div.header {
  width: 99.5%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
  </style>
{{end}}
