{{ define "title" }}
  <title>Kneusa weather station</title>
{{end}}

{{ define "content" }}
<div class="content">
<div class="header">
  <h2>Kneusa weather station</h2>
</div>

Current temperature: {{.NowTemp}} &#8451; <br /> 

Statistics: </br>
Daily high: {{.MaxTemp}} &#8451; - {{.MaxTime}} <br />
Daily low:  {{.MinTemp}} &#8451; - {{.MinTime}} <br />


<p />
Daily statistics: <p />
<img src=" {{.DailyPic}} "/>
</div>

{{end}}
