{{ define "title" }}
  <title>Kneusa weather station</title>
{{end}}

{{ define "content" }}
<h2>Kneusa weather station</h2><p />

Current temperature: {{.NowTemp}} <br /> 

Statistics: </br>
Daily high: {{.MaxTemp}}  {{.MaxTime}} <br />
Daily low:  {{.MinTemp}} {{.MinTime}} <br />
{{end}}

