{{ define "title" }}
  <title>Kneusa weather station</title>
{{end}}

{{ define "content" }}
<h2>Kneusa weather station</h2><p />

Current temperature: {{.NowTemp}} &#8451; <br /> 

Statistics: </br>
Daily high: {{.MaxTemp}} &#8451; - {{.MaxTime}} <br />
Daily low:  {{.MinTemp}} &#8451; - {{.MinTime}} <br />
{{end}}

